<p style="color: green"><%= notice %></p>
<div class="flex_d navigation py-6 px-3 blue-nav-white-text ">
  <ul class="display_nav flex justify-between items-center width_max">
    <li class="w-10"><%= link_to image_tag('backarrow.png', alt: 'Back'), categories_path, class: 'nav-link' %></li>
    <h2><strong>Purchases</strong></h2>
    <li><%= link_to 'Sign Out', destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link text-green" %></li>
  </ul>
<div id="purchases">
  <% @purchases.each do |purchase| %>
    <%= render "shared/purchase", purchase: purchase %>
    <p>
      <%= link_to "Show this purchase", purchase %>
    </p>
  <% end %>
</div>
</div>
